<%= form_for [@user,@bio],html: {class: "form-group form-horizontal",format: "html"} do |f| %>
  <% if @bio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bio.errors.count, "error") %> prohibited this bio from being saved:</h2>

      <ul>
      <% @bio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :work_place %><br>
    <%= f.text_field :work_place , class:"field form-control" %>
  </div>
  <div>
    <%= f.label :designation %><br>
    <%= f.text_field :designation , class:"field form-control"%>
  </div>
  <div>
    <%= f.label :college %><br>
    <%= f.text_field :college , class:"field form-control"%>
  </div>
  <div>
    <%= f.label :school %><br>
    <%= f.text_field :school , class:"field form-control"%>
  </div>
  <div>
    <%= f.label :university %><br>
    <%= f.text_field :university , class:"field form-control"%>
  </div>
  <div>
    <%= f.label :university_degree %><br>
    <%= f.text_field :university_degree, class:"field form-control" %>
  </div>
  <div>
    <%= f.label :school_cert %><br>
    <%= f.text_field :school_cert, class:"field form-control" %>
  </div>
  <div>
    <%= f.label :college_cert %><br>
    <%= f.text_field :college_cert , class:"field form-control"%>
  </div>
  <div>
    <%= f.label :home_town %><br>
    <%= f.text_field :home_town , class:"field form-control"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
