<div class="row" style="background-color: #eee;">
	<div class="col-md-3">
    	<%= link_to(activity_feed.user.profile_picture ? image_tag(activity_feed.user.profile_picture.picture.url,class: "img img-responsive",style: "height:100px;margin:20px auto;") : image_tag(image_url('defaulthead.png'),class: "media-object",style: "height:64px;width:64px;margin:20px auto"), user_path(activity_feed.user)) %>	  
	</div>

	<div class="col-md-9">
    	<h4>
				<%= activity_feed.user.first_name %> <%= activity_feed.status %>
				<%= activity_feed.status == "created" ? "a new" : "a" %>
				<%= activity_feed.targetable_type %>
				<% if activity_feed.targetable_type == "Comment" %>
					On 
					<% if activity_feed.targetable.commentable_type == "Post" %>
						<%= link_to activity_feed.targetable.commentable_type, user_post_path(activity_feed.targetable.commentable.user,activity_feed.targetable.commentable),style: "color:blue;text-decoration:underline;"%>
					<% elsif activity_feed.targetable.commentable_type == "Photo" %>
						<%= link_to activity_feed.targetable.commentable_type, user_photo_path(activity_feed.targetable.commentable.user,activity_feed.targetable.commentable),style: "color:blue;text-decoration:underline;"%>
					<% elsif activity_feed.targetable.commentable_type == "Album" %>
						<%= link_to activity_feed.targetable.commentable_type, user_album_path(activity_feed.targetable.commentable.user,activity_feed.targetable.commentable),style: "color:blue;text-decoration:underline;"%>
					<% end %>
					
				<% end %>
			</h4>
	
			<p><%= time_ago_in_words(activity_feed.created_at) %> ago</p>

			<% if activity_feed.targetable_type == "Post" %>

				<h5><%= activity_feed.targetable.title %></h5>

				
				<%= link_to "Show Post",user_post_path(activity_feed.targetable.user,activity_feed.targetable.id) , class: "btn btn-primary",style: "color:white" %>

			<% elsif activity_feed.targetable_type == "Photo" %>
				
				<%= link_to "Show Photo",user_photo_path(activity_feed.targetable.user,activity_feed.targetable_id), class: "btn btn-primary" ,style: "color:white"%>

			<% elsif activity_feed.targetable_type == "Album" %>
				
				<%= link_to "Show Album",user_album_path(activity_feed.targetable.user,activity_feed.targetable_id), class: "btn btn-primary",style: "color:white" %>
			
			<% else activity_feed.targetable_type == "Comment" %>
				
				<% if activity_feed.targetable.commentable_type == "Post" %>
					<h6><%= activity_feed.targetable.body %></h6>
					
					<%= link_to "Show Post",user_post_path(activity_feed.targetable.user,activity_feed.targetable_id),class: "btn btn-primary",style: "color:white;" %>

				<% elsif activity_feed.targetable.commentable_type == "Photo" %>
					<h6><%= activity_feed.targetable.body %></h6>
					
					
					<%= link_to "Show Photo",user_post_path(activity_feed.user,activity_feed.targetable_id),class: "btn btn-primary",style: "color:white;" %>

				<% elsif activity_feed.targetable.commentable_type == "Album" %>
					<h6><%= activity_feed.targetable.body %></h6>
					
					<%= link_to "Show Album",user_post_path(activity_feed.user,activity_feed.targetable_id),class: "btn btn-primary",style: "color:white;" %>

				<% end %>

			<% end %>
  	</div>
</div>
<hr/>

