<div class="row" >
	
	<section class="col-md-6" style="background-color: #101010;">
		<img src="<%= @photo.picture.url %>" alt="Picture" class="img img-responsive" style="margin:0 auto;">	
		<p>
			<%= @photo.album ? link_to("See Whole Album #{@photo.album.name}",user_profile_album_path(@user.id,@photo.album.id)) : " " %>
		</p>
	</section>
	
	<section class="col-md-6">
		<% @photo.comments.each do |comment| %>

			<section class="application-comment">
				<div class="row">
					
					<section class="col-md-2">
						<%= link_to image_tag(comment.user.profile_picture ? comment.user.profile_picture.picture.url : image_url('defaulthead.png'),style: "width:50px;height:50px;margin: 0 auto;") , user_profile_index_path(comment.user) %>
					</section>
					
					<section class="col-md-10">
						<span style="font-weight: bold;font-size: 20px; ">
							<%= comment.user.first_name %>
						</span>
						<span>
							<p style="padding: 0;"><%= comment.body %></p>
						</span> 
					</section>	

				</div>
			</section>		
		<% end %>

		<div class="application-comment">

			<div class="row">
				<section class="col-md-2">
					<%= link_to image_tag(current_user.profile_picture ? current_user.profile_picture.picture.url : image_url('defaulthead.png'),style: "width:50px;height:50px;margin: 0 auto;") , user_profile_index_path(current_user) %>
				</section>
				
				<section class="col-md-10">
					<span style="font-weight: bold;font-size: 20px; ">
								<%= current_user.first_name %>
					</span>
					<span>
						<p style="padding: 0;">
						<form method="get" action="<%= profile_photo_comment_path(@photo) %>" name="comment">
							<textarea style="width: 100%;height: 100%;border-radius: 10px;" type="text" name="comment" placeholder="post a comment..."></textarea>
						</form>	
					</span>
				</section>
					
				</div>
				
			</div>
		</section>
</div>

